/* Fonts */

@font-face {
    font-family: 'craftwork-bold';
    src: url('../fonts/craftwork-bold.ttf');
}

@font-face {
    font-family: 'craftwork-medium';
    src: url('../fonts/craftwork-medium.ttf');
}

@font-face {
    font-family: 'proxima';
    src: url('../fonts/proxima.ttf');
}

.is-craftwork-bold {
    font-family: 'craftwork-bold', sans-serif !important;
}

.is-craftwork-medium {
    font-family: 'craftwork-medium', sans-serif !important;
}

/* Colors */

.is-iam-black {
    color: #0B0E0B !important;
}

.is-iam-white {
    color: #FFFFFF !important;
}

.is-iam-green {
    color: #4A7062 !important;
}

.is-iam-red {
    color: #A20111 !important;
}

.is-iam-grey {
    color: #959A9D !important;
}

.is-iam-purple {
    color: #B0A3FF !important;
}

/* Background Colors */

.has-iam-bg-black {
    background-color: #0B0E0B !important;
}

.has-iam-bg-white {
    background-color: #FFFFFF !important;
}

.has-iam-bg-green {
    background-color: #4A7062 !important;
}

.has-iam-bg-red {
    background-color: #A20111 !important;
}

.has-iam-bg-grey {
    background-color: #959A9D !important;
}

.has-iam-bg-purple {
    background-color: #B0A3FF !important;
}

.has-iam-bg-transparent {
    background-color: transparent;
}

body {
    font-family: 'proxima', sans-serif;
}

.navbar {
    background-color: transparent;
}

.hero {
    position: relative;
}

.hero-video video {
    cursor: auto;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    display: block;
    object-fit: cover;
    background-color: #0B0E0B;
    object-position: 50% 50%;
}

.hero-video.second video {
    width: 75%;
    height: 75%;
    object-fit: contain;
    background-color: #fff;
    left: 80%;
    top: 60%;
    min-height: 50%;
    min-width: 50%;
}

.hero-video .frame {
    background: linear-gradient(180deg, rgba(11, 14, 11, 0) 80%, #0B0E0B 100%);
    flex: none;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: -1px;
    z-index: 2;
}

.hero-video .hero-body {
    z-index: 3;
}

.is-big-title {
    font-size: 116px;
}

.vimeo iframe {
    width: 100%;
    height: 300px;
}

.marquee {
    overflow: hidden;
    font-size: 320px;
}

.marquee__inner {
    display: flex;
}

.marquee__line {
    flex-shrink: 0;
    margin: 0;
    min-width: 100%;
    white-space: nowrap;
    animation-name: marqueeLine;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

p.biiig {
    overflow: hidden;
    font-size: 320px;
    white-space: nowrap;
    line-height: 100%;
}

@keyframes marqueeLine {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.tabs ul {
    border-bottom: none !important;
}

.tabs li.is-active a {
    border-bottom: none !important;
    color: #4A7062;
}

.tabs a {
    border: none !important;
    color: #0B0E0B;
    margin-bottom: 0;
}

.tabs-wrapper li.is-active a::before {
    content: url(../files/arrow.svg);
    color: #4A7062;
    transform: scale(1);
    padding-right: 24px;
    margin-left: -36px;
}

.tabs-wrapper li:not(.is-active) a:before {
    content: url(../files/arrow.svg);
    color: #4A7062;
    transform: scale(1);
    padding-right: 24px;
    margin-left: -36px;
    visibility: hidden;
}

.tabs-content li {
    display: none;
    list-style: none;
}

.is-block li {
    display: block;
}

.tabs-content li.is-active {
    display: block;
}

section.is-rounded {
    border-radius: 42px 42px 0 0;
}

.content figure {
    margin-left: .8em;
    margin-right: 1.2em;
    text-align: left;
}

.card {
    border-radius: 1rem !important;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #B0A3FF;
    box-shadow: none;
}

.cards .column:nth-of-type(1) .card {
    background-position: right top;
}

.cards .column:nth-of-type(2) .card {
    background-position: right center;
}

.cards .column:nth-of-type(3) .card {
    background-position: center center;
}

.card-footer {
    border-top: none;
    margin-top: auto;
}

.card-footer a:before {
    content: none !important;
}

.is-borderless {
    border: none !important;
}

.timeline .is-96x96 {
    width: 96px !important;
    height: 96px !important;
}

.timeline-marker {
    border: none !important;
    width: 16px !important;
    height: 16px !important;
}

.timeline .timeline-item::before,
.timeline-item:nth-of-type(2n+1)::before {
    width: 4px !important;
}

.timeline .timeline-item::before {
    left: -2px;
}

.timeline.is-centered .timeline-item:nth-of-type(2n)::before {
    right: -2px;
}

.timeline .timeline-item {
    /* margin-left: 9em; */
}

.timeline .timeline-item .timeline-marker {
    top: 0;
}

.timeline .timeline-item .timeline-content {
    margin-left: 3rem;
}

img.instagram {
    border-radius: 110px;
    overflow: hidden;
    width: 340px;
    margin: auto;
}

.mx-auto {
    margin: auto !important;
}

.content .is-140x140 {
    margin-left: -1em;
}

.is-140x140 {
    width: 140px;
    height: 140px;
}

@media only screen and (max-width: 600px) {
    .is-big-title {
        font-size: 72px;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: -2%;
    }

    .vimeo iframe {
        margin: auto;
        display: flex;
        width: 100%;
        height: auto;
    }

    .timeline .timeline-item {
        margin-left: 1em;
        padding-bottom: 3em;
    }

    .timeline-content .is-size-3 {
        font-size: 1.5rem !important;
    }

    .timeline .is-96x96 {
        width: 64px !important;
        height: 64px !important;
    }
}

@media screen and (max-width: 768px) {
    .hero-video {
        display: inline !important;
    }
}