/* Fonts */

@font-face {
    font-family: 'craftwork-bold';
    src: url('../fonts/craftwork-bold.ttf');
}

@font-face {
    font-family: 'craftwork-medium';
    src: url('../fonts/craftwork-medium.ttf');
}

@font-face {
    font-family: 'proxima';
    src: url('../fonts/proxima.ttf');
}

.is-craftwork-bold {
    font-family: 'craftwork-bold', sans-serif !important;
}

.is-craftwork-medium {
    font-family: 'craftwork-medium', sans-serif !important;
}

/* Colors */

.is-iam-black {
    color: #0B0E0B !important;
}

.is-iam-white {
    color: #FFFFFF !important;
}

.is-iam-green {
    color: #4A7062 !important;
}

.is-iam-red {
    color: #A20111 !important;
}

.is-iam-grey {
    color: #959A9D !important;
}

/* Background Colors */

.has-iam-bg-black {
    background-color: #0B0E0B !important;
}

.has-iam-bg-white {
    background-color: #FFFFFF !important;
}

.has-iam-bg-green {
    background-color: #4A7062 !important;
}

.has-iam-bg-red {
    background-color: #A20111 !important;
}

.has-iam-bg-grey {
    background-color: #959A9D !important;
}

.has-iam-bg-transparent {
    background-color: transparent;
}

body {
    font-family: 'proxima', sans-serif;
}

.navbar {
    background-color: transparent;
}

.is-big-title {
    font-size: 116px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -2%;
}

.vimeo iframe {
    margin: auto;
    display: flex;
}

.tabs ul {
    border-bottom: none !important;
}

.tabs li.is-active a {
    border-bottom: none !important;
    color: #4A7062;
}

.tabs a {
    border: none !important;
    color: #0B0E0B;
    margin-bottom: 0;
}

.tabs-wrapper li.is-active a::before {
    content: url(../files/arrow.svg);
    color: #4A7062;
    transform: scale(1);
    padding-right: 24px;
    margin-left: -36px;
}

.tabs-wrapper li:not(.is-active) a:before {
    content: url(../files/arrow.svg);
    color: #4A7062;
    transform: scale(1);
    padding-right: 24px;
    margin-left: -36px;
    visibility: hidden;
}

.tabs-content li {
    display: none;
    list-style: none;
}

.is-block li {
    display: block;
}

.tabs-content li.is-active {
    display: block;
}

section.is-rounded {
    border-radius: 42px 42px 0 0;
}

.content figure {
    margin-left: .8em;
    margin-right: 1.2em;
    text-align: left;
}

.card {
    border-radius: 1rem !important;
    background-color: rgba(149, 154, 157, 0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-footer {
    border-top: none;
    margin-top: auto;
}

.card-footer a:before {
    content: none !important;
}

.timeline .is-96x96 {
    width: 96px !important;
    height: 96px !important;
}

.timeline-marker {
    border: none !important;
    width: 16px !important;
    height: 16px !important;
}

.timeline .timeline-item::before,
.timeline-item:nth-of-type(2n+1)::before {
    width: 4px !important;
}

.timeline .timeline-item::before {
    left: -2px;
}

.timeline.is-centered .timeline-item:nth-of-type(2n)::before {
    right: -2px;
}

.timeline .timeline-item {
    margin-left: 9em;
    padding-bottom: 3em;
}

.timeline .timeline-item .timeline-marker {
    top: 0;
}

.timeline .timeline-item .timeline-content {
    margin-left: 3rem;
}

img.instagram {
    border-radius: 110px;
    overflow: hidden;
    width: 340px;
    margin: auto;
}

.mx-auto {
    margin: auto!important;
}